/* -----初始化浏览器样式----- */
* {
	/* 清除浏览器默认外边距 */
	margin: 0;
	/* 清除浏览器默认内边距 */
	padding: 0;
	/* 使用CSS3盒子模型 */
	box-sizing: border-box;
}

/* 设置全局字体大小 */
:root {
	font-size: 1rem;
}

/* 当页面过长超出屏幕出现滚动条时 使滚动条不占用页面宽度 */
html {
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: calc(100% - 100vw);
}

/* 引入谷歌Noto字体 */
@import url("https://fonts.font.im/css?family=Noto+Sans");

body {
	/* CSS3 文字抗锯齿 */
	-webkit-font-smoothing: antialiased;
	/* 声明字体 */
	font-family: "Noto Sans", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	/* 修改默认背景色 */
	background-color: #edf2f7;
}

/* em 和 i 的文字不使用斜体样式 */
em,
i {
	font-style: normal;
}

/* 去掉 li 的小圆点 */
li {
	list-style: none;
}

/* 修改按钮鼠标样式 */
button {
	cursor: pointer;
}

/* 修改链接默认样式 */
a {
	text-decoration: none;
	color: black;
}

/* -----初始化移动端样式----- */

/* 禁止元素被选中 */
a,
h1 {
	-webkit-user-select: none;
	user-select: none;
}

/* 清除默认点击背景色 */
button,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 清除链接交互相关默认样式 */
a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}
